body {
    margin: 0;
}

a {
    text-decoration: none;
}

/****** NavBar setup *****/
nav.navbar {
    text-decoration: none;
    position: sticky;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;

    background-color: #eaeaea;
    color: rgb(78, 0, 167);
    transition: top 500ms ease-in-out;

    min-height: 10vh;
}

nav.scroll-up {
    top: 0;
}

nav.scroll-down {
    top: -100%;
}

div.nav-links-wrapper {
    width: fit-content;
    display: flex;
    row-gap: 25px;
}

a.navbar-link {
    font-size: 1.6rem;
    font-family: "Oswald", "Roboto", sans-serif;
    margin: 10px;
    color: black;
}


h1.logo-link {
    font-size: 2.2rem;
    font-family: "Oswald", "Roboto", serif;
    margin-left: 20px;
}

/***** Navbar End *******/




.wide-container{
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

/* #services-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} */

.center-text {
    text-align: center;
}

.full-screen-container {
    min-height: 100vh;
    height: fit-content;
}

.opaque-bg-div {
    background: rgba(73, 73, 73, 0.45);
}

.responsive-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.ultimate-wrapper {
    margin-top:0;
    margin-bottom:0;
    border: 1px solid transparent;
}

/* .growing-item-1 {
    flex-grow: 1;
} */


footer{
    display: flex;
    margin-bottom: 0;
    height: 50px;
    min-height: 8vh;
    /* margin-top: 20px; */
    background-color: white;
    align-items: center;
    justify-content: center;
    color: black
}



/****** Contact Start ******/

.contact-section {
    flex-direction: row;
    align-items: center;
    column-gap: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    box-sizing: border-box;
}

.contact-wrapper {
    min-width: 200px;
    min-height: 50vh;
    border: 1px solid rgb(78, 0, 167);
    border-radius: 8px;
    flex-direction: row;
    align-content: center;
    gap: 20px;
    padding: 20px 0px;
    flex-basis: 45%;
    background-color: rgb(169, 165, 165);
}

.contact-item {
    background-color: rgb(59, 59, 59);
    color: white;
    border: none;
    border-radius: 8px;
    min-height: 30px;
    min-width: 150px;
    padding: 10px;
}

#nome {
    flex-basis: 80%;
}


#email{
    flex-basis: 80%;
}

#message {
    flex-basis: 80%;
    min-height: 14vh;
}

#send-btn {
    background-color: beige;
    color: black;
    width: 150px;
    height: 40px;
    flex-basis: 30%;
}

#contact-info {
    color: rgb(255, 255, 255);
    line-height: 40px;
    flex-basis: 20%;
    text-decoration: none;
}

/* Contact end */

/* media queries and changes to mobile devices */
@media screen and (max-width: 80rem){
    .contact-wrapper {
        flex-basis: 80%;
    }

    #contact-info {
        flex-basis: 80%;
        text-align: center;
    }

    nav.navbar {
        min-height: 10vh;
        height: fit-content;
    }
}