body , html{
    margin: 0;
    scroll-behavior: smooth !important;
}

a {
    text-decoration: none;
}


/****** NavBar setup *****/
nav.navbar {
    text-decoration: none;
    position: sticky;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;

    background-color: #272829;
    color: #D8D9DA;
    transition: top 500ms ease-in-out;

    min-height: 10vh;
}

nav.scroll-up {
    top: 0;
}

nav.scroll-down {
    top: -100%;
}

div.nav-links-wrapper {
    width: fit-content;
    display: flex;
    row-gap: 25px;
}

a.navbar-link {
    font-size: 1.6rem;
    font-family: "Oswald", "Roboto", sans-serif;
    margin: 10px;
}


h1.logo-link {
    font-size: 2.2rem;
    font-family: "Oswald", "Roboto", serif;
    margin-left: 20px;
}

/***** Navbar End *******/


.divider {
    margin-left: auto;
    margin-right: auto;
    max-width: 50px;
    border-top: 3px solid #61677A;
    border-bottom:3px solid #272829;
}

.wide-container{
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

/* #services-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} */

.center-text {
    text-align: center;
}

.full-screen-container {
    min-height: 100vh;
    height: fit-content;
}

.opaque-bg-div {
    background: rgba(73, 73, 73, 0.55);
}

.responsive-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.ultimate-wrapper {
    margin-top:0;
    margin-bottom:0;
    border: 1px solid transparent;
    background-color: #272829;
}


/****** Contact Start ******/

.contact-section {
    flex-direction: row;
    align-items: center;
    column-gap: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    box-sizing: border-box;
    font-family: "Oswald", "Roboto", serif;
}

.contact-wrapper {
    min-width: 200px;
    min-height: 50vh;
    border-radius: 8px;
    flex-direction: row;
    align-content: center;
    gap: 20px;
    padding: 20px 0px;
    flex-basis: 45%;
    background-color: #1a1a1a;
}

.contact-item {
    background-color: #D8D9DA;
    color: #1a1a1a;
    border: none;
    border-radius: 8px;
    min-height: 30px;
    min-width: 150px;
    padding: 10px;
}

#nome {
    flex-basis: 80%;
}


#email{
    flex-basis: 80%;
}

#message {
    flex-basis: 80%;
    min-height: 14vh;
}

#send-btn {
    background-color: beige;
    color: black;
    width: 150px;
    height: 40px;
    flex-basis: 30%;
}

#contact-info {
    color: rgb(255, 255, 255);
    line-height: 40px;
    flex-basis: 20%;
    text-decoration: none;
}

/* Contact end */



footer{
    display: flex;
    margin-bottom: 0;
    height: 50px;
    min-height: 8vh;
    /* margin-top: 20px; */
    background-color: #D8D9DA;
    align-items: center;
    justify-content: center;
    color: black
}

/* media queries and changes to mobile devices */
@media screen and (max-width: 80rem){
    .contact-wrapper {
        flex-basis: 80%;
    }

    #contact-info {
        flex-basis: 80%;
        text-align: center;
    }

    nav.navbar {
        min-height: 10vh;
        height: fit-content;
    }
}

@media screen and (max-width: 1410px){
    
}