body {
    margin: 0;
}

nav {
    text-decoration: none;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #eaeaea;
    padding: 10px;
    transition: top 500ms ease-in-out;
    color: black;

    min-height: 10vh;
}

nav.scroll-up {
    top: 0;
}

nav.scroll-down {
    top: -100%;
}

.wide-container{
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

/* #services-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} */

.center-text {
    text-align: center;
}

.full-screen-container {
    min-height: 100vh;
    height: fit-content;
}

.opaque-bg-div {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgb(73, 73, 73);
    opacity: 0.45;
}

.responsive-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

/* .growing-item-1 {
    flex-grow: 1;
} */


footer{
    display: flex;
    margin-bottom: 0;
    height: 50px;
    min-height: 8vh;
    margin-top: 20px;
    background-color: black;
    align-items: center;
    justify-content: center;
}