
body {
    background-color: rgb(92, 92, 92);
    height: 100%;
    color: white;
    font-family: "Roboto", serif;
}

h3 {
    font-size: 2em;
    color: blanchedalmond;
}

p {
    font-size: 1.5rem;
}

a {
    color: inherit;
}

.text-container {
    margin: 100px 15%;
    padding: 0 20px;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

.main-title {
    text-align: center;
    color: blanchedalmond;
}

#contact-info {
    color: white;
}

#free-consulence {
    width: 100%;
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 10vh;
}


@media screen and (max-width: 60rem) {
    .text-container {
        border: none;
        margin: 100px 5%;
    }

    #free-consulence {
        font-size: 2rem;
    }
    
}