
body, html {
    background-color: darkgrey;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

.wide-container{
    max-width: 100%;
}

/* #services-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} */

.center-text {
    text-align: center;
}

#navbar {
    text-decoration: none;
}

.home-text-container {
    min-height: 100vh;
    text-align:center;
}

/* #home-text-p {
    width: 40vh;
} */

.services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: content;
    align-items: center;
    margin: 10px 30px;
}

.service {
    border: 2px solid black;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px 10px;
    max-height: 200px;
    min-height: 200px;
    max-width: 300px;
    width: 300px;
    text-align: center;
}

#services-description {
    /* make it occupy at least half the available space */
}

footer{
    margin-bottom: 0;
    height: 50px;
    margin-top: 20px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 60px !important;
}