/* @font-face {
    font-family: "Roboto";

} */



body, html {
    background-color: darkgrey;
    height: 100%;
    margin: 0;
    font-family: "Roboto", serif;
    background-image: url("./images/dimitar-donovski-3chxPwXoiOQ-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.wide-container{
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

/* #services-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} */

.center-text {
    text-align: center;
}

.full-screen-container {
    min-height: 100vh;
}

.opaque-bg-div {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgb(73, 73, 73);
    opacity: 0.45;
}


#navbar {
    text-decoration: none;
}

.home-text-container {
    min-height: 100vh;
    text-align:center;
    margin-top: 20vh;
    margin-right: 20px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
}

#home-title {
    font-size: 3rem;
}

#home-text-p {
    font-size: 1.3rem;
}

.divider {
    margin-left: auto;
    margin-right: auto;
    max-width: 50px;
    border-top: 3px solid rgb(78, 0, 167);
}

.button-like-link {
    display: inline-block;
    background-color: gray;
    border: 2px solid black;
    border-radius: 25px;
    min-width: 130px;
    min-height: 50px;
    color: inherit;
    text-align: center;
    vertical-align: baseline;
    line-height: 50px;
}

.services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: content;
    align-items: center;
    margin: 20px 0;
    background-color: rgb(59, 59, 59);
    min-height: 80%;
}

.service {
    border: 3px solid black;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px 10px;
    max-height: 200px;
    min-height: 200px;
    max-width: 300px;
    width: 300px;
    text-align: center;
    padding-top: 20px;
    vertical-align: middle;
}

#services-description {
    /* make it occupy at least half the available space */
    margin: 10px 30px;
}


/************* Projects done start **********/
#projects-container {
    text-align: center;
}

.projects-hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.project-hero {
    overflow:auto;
    min-height: 200px;
    max-height: 500px;
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
    background-color: black;
    margin: 25px 25px;
}


/* projects done end */


footer{
    margin-bottom: 0;
    height: 50px;
    margin-top: 20px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 60px !important;
}

/* if the screen size is less than 80 rem, which I don't know how much is it */
@media screen and (max-width: 80rem) {
    .home-text-container{
        margin-top: 30vh;
    }
}